h1 {
            color: rgb(0, 255, 76);
        }
        p {
            font-size: 33px;
            text-align: center;
            color: rgb(255, 0, 76);
        }
        .ict19 {
            
            color: rgb(51, 0, 255);
        }