body {
    background-color: pink;
}

@media screen and (max-width: 800px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-color: lightgreen;
    }
}

/*shift+alt+f to change format*/